<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <style>
      .my-btn-class{
        background-color: #FF5498;
            padding: 8px 30px;
            border-radius: 10px;
            color: white;
            box-shadow: 5px 5px 20px gray;

      }

    </style>
    
</head>
<body>
  <!--menu start-->
  <div class="container ">
    <nav class="navbar navbar-expand-lg navbar-light bg-primary">
      <div class="container-fluid">
        <a class="navbar-brand text-white" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link active text-white" aria-current="page" href="#">Home</a>
            <a class="nav-link text-white" href="#">Features</a>
            <a class="nav-link text-white" href="#">Pricing</a>
            <a class="nav-link text-white" href="#">Registration</a>
            <a class="nav-link text-white" href="#">Login</a>
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
          </div>
        </div>
      </div>
    </nav>
  </div>
  <!--menu end-->
  <!--carousal start-->
  <div class="container bg-info">
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner m-3">
        <div class="carousel-item active">
          <div class="row align-items-center">
            <div class="col-7">
              <h1>X-Box for your living room</h1>
              <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quia, dolorum.</p>
              <h2>$600</h2>
              <button class="btn btn-warning">click here</button>
            </div>
            <div class="col-5">
              <img src="image/headphone.png" class="d-block w-100" alt="...">
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="row">
            <div class="col-7">
              <h1>X-Box for your living room</h1>
              <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quia, dolorum.</p>
              <h2>$600</h2>
              <button></button>
            </div>
            <div class="col-5">
              <img src="image/tv.png" class="d-block w-100" alt="...">
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="row">
            <div class="col-7">
              <h1>X-Box for your living room</h1>
              <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quia, dolorum.</p>
              <h2>$600</h2>
            </div>
            <div class="col-5">
              <img src="image/xbox.png" class="d-block w-100" alt="...">
            </div>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
  <!--carousal end-->

  

  <div class="container">

    <div class="row">
      <div class="col-3 m-3 px-7">
        <div class="card" style="width: 18rem;">
          <img src="image/shoe-1.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary my-btn-class">Go somewhere</a>
          </div>
        </div>

      </div>

      <div class="col-3 m-3 px-7">
        <div class="card" style="width: 18rem;">
          <img src="image/shoe-2.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary my-btn-class">Go somewhere</a>
          </div>
        </div>
      </div>
      
  <div class="col-3 m-3 px-7">
    <div class="card" style="width: 18rem;">
      <img src="image/shoe-1.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary my-btn-class">Go somewhere</a>
      </div>
    </div>

  </div>

    </div>

  </div>

  <div class="container">
    <input type="text">
  </div>
  


</body>
</html>